@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-effect {
    @apply relative inline-block overflow-hidden; /* Basic styles */
  }

  .link-effect::before {
    @apply absolute left-0 bottom-0 w-full bg-[#1fb8a6] origin-[100%_50%] scale-x-0 text-2xl;
    @apply transition-transform duration-300 ease-[cubic-bezier(0.76,0,0.24,1)]; /* Animation setup */
  }

  .link-effect::after {
    @apply absolute left-0 top-0 w-full h-full origin-[100%_50%] translate-x-[200%] text-[#1fb8a6] text-2xl;
    content: attr(data-replace); /* Use attribute content */
    @apply transition-transform duration-300 ease-[cubic-bezier(0.76,0,0.24,1)];
  }

  .link-effect:hover::before {
    @apply origin-[0%_50%] scale-x-100; /* Transform on hover */
  }

  .link-effect:hover::after {
    @apply translate-x-0;
  }

  .link-effect span {
    @apply inline-block transition-transform duration-300 ease-[cubic-bezier(0.76,0,0.24,1)];
  }

  .link-effect:hover span {
    @apply -translate-x-full; /* Change to -translate-x-full for complete hiding */
    /* Add this line */
    visibility: hidden;
  }
  /* New custom link styles */
  .custom-link {
    @apply relative text-[#fb923c] no-underline; /* Basic styles */
  }

  .custom-link::before {
    content: "";
    @apply absolute w-full h-1 bg-[#fb923c] rounded bottom-3 left-0 scale-x-0 origin-right;
    @apply transition-transform duration-300 ease-in-out; /* Animation setup */
  }

  .custom-link:hover::before {
    @apply origin-left scale-x-100; /* Transform on hover */
  }

  /* New custom link styles with dark mode on */
  .custom-link-dark {
    @apply relative text-[#1fb8a6] no-underline; /* Basic styles */
  }

  .custom-link-dark::before {
    content: "";
    @apply absolute w-full h-1 bg-[#1fb8a6] rounded bottom-3 left-0 scale-x-0 origin-right;
    @apply transition-transform duration-300 ease-in-out; /* Animation setup */
  }

  .custom-link-dark:hover::before {
    @apply origin-left scale-x-100; /* Transform on hover */
  }
}
